::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
}

div {
    box-sizing: border-box;
}

.horizontal-scroll-wrapper {
    /* position: absolute; */
    display: block;
    top: 0;
    left: 0;
    width: calc(1920px);
    max-height: 1920px;
    margin: 0;
    /* background: #abc; */
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg) translateY(-1920px);
    transform-origin: right top;
    transition: transform .25s;
}

.horizontal-scroll-wrapper>div {
    display: block;
    padding: 5px;
    /* background: #cab; */
    transform: rotate(90deg);
    transform-origin: right top;
}

.squares {
    padding: 1920px 500px 0 0;
}

.one {
    /* margin-left: -830px; */
    width: 1920px;
    height: 1920px;
    /* border: 1px solid red; */
}